.modeflex {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
.block {
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}
.block1 {
  background-color: rgb(77, 202, 240);
}
.block2 {
  background-color: rgb(243, 173, 147);
}
.block3 {
  background-color: fuchsia;
}
h2 {
  margin-left: 150px;
  color: cadetblue;
}
.intitule {
  margin-top: -180px;
  padding-left: 15px;
}
.position {
  margin-top: -340px;
}
h1 {
  text-size-adjust: 30px;
  text-align: center;
  color: brown;
}
