.modeflex {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 1800px;
}
.block1 {
  background-color: rgb(77, 202, 240);
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.block2 {
  background-color: rgb(243, 173, 147);
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.block3 {
  background-color: fuchsia;
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
  margin-top: 60px;
}
/*p {
  color: blue;
  margin-top: -255px;
  padding-left: 10px;
  min-height: 100px;
}*/
h1 {
  margin-left: 150px;
  color: cadetblue;
}
.intitule {
  margin-top: -180px;
  padding-left: 15px;
}
.positionB2 {
  margin-top: -340px;
}
