.modeflex {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 1800px;
}
.block1 {
  background-color: rgb(77, 202, 240);
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
}
.block2 {
  background-color: rgb(243, 173, 147);
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
}
.block3 {
  background-color: fuchsia;
  display: flex;
  height: 600px;
  width: 30%;
  min-width: 300px;
  flex-wrap: wrap;
}
p {
  color: blue;
  /*margin-top: -255px;*/
  padding-left: 10px;
}
h1 {
  margin-left: 150px;
  color: cadetblue;
}
